*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
      
}

.icon{
  color: black;
}

h1{
  font-size: 1.2rem;
}

h4{
  font-size: .9rem;
  text-transform: uppercase;
  color: #aaa;
  margin-left: 20px;}
  
i{
    font-size: 1.2rem;
    color: white;
}

p,a{
    font-size: .9rem;
    text-decoration: none;
    color: black;
}

hr{
    border:1px solid rgba(255, 255, 255,0.1);
    margin: 12px 0;
}