.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;
    padding: 20px 25px;
    overflow-y: scroll;
    height:calc(100vh - 116px) ;
}

.video-content-container{
    position:relative;
    width: 100%;
}

.video-content{
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}

.video-box{
    position: relative;
    width: auto;
    height: 145px;
    display: block;
}

.video-box > img{
    border-radius: 10px;
    height:fit-content;
}


.channel-logo{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.video-details{
    display: flex;
    padding-top: 12px;
}
.video-details > i{
    float: right;
}

.detail{
    margin-left: 12px;
}

.titulo{
    font-size: .9rem;
}
.channel-name{
    font-size: .8rem;
    margin-top: 5px;
    color: rgb(52, 52, 52);
}

.views-upload{
    display: flex;
    font-size: .8rem;
    color: rgb(52, 52, 52);
    gap:5px;
}

/*responsive*/

/* Estilos para pantallas extra-pequeñas (móviles) */
@media (max-width: 600px) {
    /* Ajustes para pantallas pequeñas */
  }

  /* Estilos para pantallas pequeñas (móviles) */
@media (min-width: 600px) {
    /* Ajustes para pantallas pequeñas */
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Estilos para pantallas medianas (tablets) */
  @media (min-width: 768px) {
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
  }
  
  
  /* Estilos para pantallas grandes (desktops) */
  @media (min-width: 992px) {
    /* Ajustes para pantallas grandes */
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
    
  }

  /* Estilos para pantallas extra-grandes (desktops) */
  @media (min-width: 1200px) {
    /* Ajustes para pantallas grandes */
  
  }