/*todo*/

header > nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

header > nav >div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

header > nav > .derecha{
 justify-content: flex-start;
}

.icono{
    width: 20px;
}

button{
  background: none;
  border: none;
}

/*
izquierda
*/

header > nav > .izquierda{
  justify-content: flex-end;
 }

.izquierda > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.izquierda > .youtube-container >p {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.youtube-container{
  gap: 5px;
}
/*
centro
*/

.centro{
  display: none;
}

.centro >div{
  align-items: center;
}

#barra {
  background:none;
  border: 0.1px solid rgb(148, 148, 148);
  padding: 8px 0;
  border-radius: 20px 0 0 20px;
}

#barra::placeholder{
  padding-left: 20px;
  font-size: 14px;
}

.boton > button {
  border: 0.1px solid rgb(148, 148, 148);
  padding: 4px 10px;
  border-radius: 0 20px 20px 0;
}

.micro-container{
  margin-left: 10px;
}

.micro-container > button{
  background-color: #ededed;
  padding: 10px;
  border-radius: 50%;
}

/*derecha*/

.derecha >button{
    background: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items:center;
    gap:20px;
}


/*responsive*/

/* Estilos para pantallas extra-pequeñas (móviles) */
@media (max-width: 600px) {
    /* Ajustes para pantallas pequeñas */
  }

  /* Estilos para pantallas pequeñas (móviles) */
@media (min-width: 600px) {
    /* Ajustes para pantallas pequeñas */
    .responsive-icon{
      display: none;
    } 

    .centro{
      display: flex;
      gap: 0;
    }
    .centro > div{
      display: flex;
    } 
  }

  /* Estilos para pantallas medianas (tablets) */
  @media (min-width: 768px) {
    

    
  }
  
  
  /* Estilos para pantallas grandes (desktops) */
  @media (min-width: 992px) {
    /* Ajustes para pantallas grandes */

    .barra-container{
      flex: 0 1 732px;
    }

    #barra{ 
      width: 100%;
    }
  
  }

  /* Estilos para pantallas extra-grandes (desktops) */
  @media (min-width: 1200px) {
    /* Ajustes para pantallas grandes */
  
  }