/*todo*/

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width:100%;
}

/*izquierda*/

header > .izquierda{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 3px;
}

.logo-img{
  position: relative;
  width:28px;
  height: 28px;
}

img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#logo-text{
  letter-spacing: -1.5px;
}


/* centro*/

.centro{
  display: none;
  align-items: center;
  flex: 0 1 685px;
  margin-left: 40px;
}

.centro > form{ 
  position: relative;
  width: 100%;
}

.centro > form > input{ 
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: 1px solid rgba(56, 56, 56, 0.1);
  border-radius: 25px 0 0 25px;
  padding: 12px;
  font-size: 1rem;

}

.buscar{
  min-width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background:rgb(241, 241, 241);
  outline: none;
  border:none;
  border-radius: 0 25px 25px 0;
}

.mic{
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background:none;
  outline: none;
  border:none;
  border-radius: 50%;
}

/*derecha*/

.derecha{
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-box{
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow:hidden ;

}

/*responsive*/

/* Estilos para pantallas extra-pequeñas (móviles) */
@media (max-width: 600px) {
    /* Ajustes para pantallas pequeñas */
  }

  /* Estilos para pantallas pequeñas (móviles) */
@media (min-width: 600px) {
    /* Ajustes para pantallas pequeñas */
    
  }

  /* Estilos para pantallas medianas (tablets) */
  @media (min-width: 768px) {
    
  }
  
  
  /* Estilos para pantallas grandes (desktops) */
  @media (min-width: 992px) {
    /* Ajustes para pantallas grandes */
    .centro{
      display: flex;
      align-items: center;
      flex: 0 1 685px;
      margin-left: 40px;
    }

    .derecha > .responsive {
      display: none;
    }
  }

  /* Estilos para pantallas extra-grandes (desktops) */
  @media (min-width: 1200px) {
    /* Ajustes para pantallas grandes */
  
  }